@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  --Start_Pause: #3E92CC;
  --Reset: #D8315B;
  --BtnText: #FFFAFF;
  --TextAlt: #0A2463;
  --Bg: #FFFAFF;
  --Dark: #1E1B18;
  --TransparentDark: #1E1B1893;
}

html {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

body {
  display: grid;
  align-content: center;
  background-color: var(--Bg);
  color: var(--TextAlt);
  text-align: center;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
}

body.dark-mode {
  --BtnText: #0A2463;
  --Bg: #1E1B18;
  --TransparentDark: #FFFAFF93;
  
  color: var(--Start_Pause);
}

body.dark-mode input {
  color: var(--Start_Pause);
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin-inline: auto;
}

.timer-ctnr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: relative;
  font-size: 30px;
  border-radius: 5px;
  overflow: hidden;
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
input {
  width: 50px;
  height: 50px;
  padding: 10px;
}
input, button {
  text-align: inherit;
  background-color: transparent;
  color: var(--Dark);
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  border: none;
  appearance: textfield;
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.display-ctnr {
  display: grid;
  align-content: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  font-size: 30px
}

.divider {
  font-size: 30px;
  margin-inline: 7px;
}

.button-container {
  margin-block-start: 20px;
}
button {
  padding: 20px;
  color: var(--BtnText);
  border-radius: 7px;
  box-shadow: 0 0 8px var(--TransparentDark);
  margin-inline-start: 14px;
  cursor: pointer;
}
.start {
  padding-inline: 15px;
  background: var(--Start_Pause);
}
.pause {
  background: var(--Start_Pause);
}
.reset {
  background: var(--Reset);
  width: auto;
}

.status-display-container {
  height: 100px;
  padding-block-start: 25px;
}

.error {
  color: var(--Reset);
}

.times-up {
  font-size: 30px;
  font-weight: bold;
}

.hide {
  display: none;
}
.show {
  display: block;
}

/* Dark Mode Tab */
.color-mode-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-inline: auto;
  border: 2px solid var(--Reset);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.light, .dark {
  position: absolute;
  flex: 1;
  height: 100%;
  width: 60px;
}

.light .light-icon-ctnr {
  display: grid;
  align-content: center;
  height: 100%;
  color: var(--Dark);
  background-color: var(--Bg);
  transform: skewX(-15deg); 
}

.light .light-icon-ctnr i {
  margin-inline-start: -5px;
  transform: skewX(15deg);
}

.dark {
  display: grid;
  align-content: center;
  right: 0;
  background-color: var(--Dark);
  transform: skewX(-15deg) translateX(10px);
}

.dark .dark-icon-ctnr {
  transform: skewX(15deg);
  color: var(--BtnText);
}

.move-right {
  right: 0;
  z-index: 1;
  transform: translateX(10px);
}
.move-left {
  left: 0;
  transform: translateX(0px)skewX(-15deg);
}
