@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  --Start_Pause: #522B47;
  --Reset: #7B0828;
  --BtnText: #FBF5F3;
  --Bg: #b2e0cb;
  --Dark: #0F0E0E;
  --TransparentDark: #273a2793;
}

html {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Bg);
  color: var(--Text);
  text-align: center;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin-block-start: -200px;
}

.timer-ctnr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  position: relative;
  font-size: 30px;
  border-radius: 5px;
  overflow: hidden;
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
input {
  width: 50px;
  height: 50px;
  padding: 10px;
}
input, button {
  text-align: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  border: none;
  appearance: textfield;
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.display-ctnr {
  display: grid;
  align-content: center;
  height: 50px;
  padding: 10px 25px;
  font-size: 30px
}

.divider {
  font-size: 30px;
  margin-inline: 7px;
}

.button-container {
  margin-block-start: 20px;
}
button {
  padding: 20px;
  color: var(--BtnText);
  border-radius: 7px;
  box-shadow: 0 0 8px var(--TransparentDark);
  margin-inline-start: 14px;
  cursor: pointer;
}
.start {
  padding-inline: 15px;
  background: var(--Start_Pause);
}
.pause {
  background: var(--Start_Pause);
}
.reset {
  background: var(--Reset);
  width: auto;
}

.error {
  padding-block-start: 3rem;
  color: var(--Reset);
}

.times-up {
  height: 84px;
  padding-block-start: 2.5rem;
  font-weight: bold;
}

.hide {
  display: none;
}
.show {
  display: block;
}